
        <div class="email-item pure-g">
            <div class="pure-u">
                <img class="email-avatar" alt="Tom Reid Burke&#x27;s avatar" height="64" width="64" src="img/common/reid-avatar.png">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">Entry Name<%# entry.name %></h5>
                <!-- <h4 class="email-subject">Re: Design Language</h4> -->
                <p class="email-desc">
                    brief description goes here
                </p>
            </div>
        </div>
