<h1>Notebook#index</h1>
<p>Find me in app/views/notebook/index.html.erb</p>

<h1><%= @notebook.title %></h1>
<h2><%= @notebook.subtitle %></h2>

<%= render :partial => "entry", collection: @notebook.entries %>